<div class="container">
  <div class="container__cards">
    <div class="container__cards__card">
      <mat-card>
        <div>
          <mat-icon>
            <img src="../../../../assets/images/simple-tasks.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Simple tasks</mat-card-title>
        <mat-card-content
          >This platform makes you earn MCF points by completing simple tasks.
          You don't need to have any special skills or
          education</mat-card-content
        >
      </mat-card>
    </div>
    <div class="container__cards__card">
      <mat-card>
        <div>
          <mat-icon>
            <img src="../../../../assets/images/affiliate.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Affiliate Program</mat-card-title>
        <mat-card-content
          >Share your referral link and get a reward of ₦1,000 only on every
          successful registration</mat-card-content
        >
      </mat-card>
    </div>
    <div class="container__cards__card">
      <mat-card>
        <div>
          <mat-icon>
            <img src="../../../../assets/images/withdrawal.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Quick withdrawals</mat-card-title>
        <mat-card-content
          >Payment of funds is made immediately after the user has placed a
          request for withdrawal
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="container__below">
    <div class="container__below__users">
        <p class="container__below__users__number">75+</p>
        <p class="container__below__users__header">USERS</p>
        <p class="container__below__users__text">
          MCFlow currently has a total of 75+ active users in it system
        </p>
    </div>

    <div class="container__below__years">
        <p class="container__below__years__five">5</p>
        <p class="container__below__years__text">YEARS OF EXPERIENCE</p>
    </div>

    <div class="container__below__paid">
        <p class="container__below__paid__amount">₦380K+</p>
        <p class="container__below__paid__header">PAID OUT</p>
        <p class="container__below__paid__text">
          Roughly a total of ₦380K has been paid out successfully
        </p>
    </div>
  </div>
</div>
