<div class="container">
  <div class="inside-container">
    <!-- TODO: Tint div image -->
    <p class="text-big">Welcome to MCFlow</p>
    <p class="text-big">A task earning platform</p>
    <p class="text-small">Your backup cash any day any time</p>
    <div class="login-link-container">
      <a [routerLink]="['/', 'landing', 'faq']">
        <p>GET STARTED NOW</p>
        <span>
          <mat-icon style="color: white; font-size: 20px">open_in_new</mat-icon>
        </span>
      </a>
    </div>
  </div>
</div>
