<div class="container">
  <div class="container__inside">
    <h1 class="container__inside__big">Welcome to MCFlow</h1>
    <h2 class="container__inside__semi">A task earning platform</h2>
    <p class="container__inside__small">Your backup cash any day any time</p>
    <div class="container__inside__login">
      <a class="container__inside__login__link" [routerLink]="['/', 'auth']">
        <p class="container__inside__login__link__text">GET STARTED NOW</p>
        <span class="container__inside__login__link__icon">
          <i class="container__inside__login__link__icon__item fas fa-list"></i>
        </span>
      </a>
    </div>
  </div>
</div>
