.container {
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #262b35;
  padding-top: 20px;
  padding-top: 20px;
  width: 100%;
  a {
    color: grey;
    display: block;
    padding: 6px 0;
    text-decoration: none;
  }
  &__top {
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }
  &__divider {
    margin: 10px 0;
  }
  &__bottom {
    &__footer {
      display: flex;
      justify-content: space-between;
      margin: 30px 5px;
      @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
        text-align: center;
      }
      &__logo {
        img {
          max-width: 120px;
          max-height: 120px;
        }
      }
      &__align {
        padding-top: 18px;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        @media only screen and (max-width: 900px) {
          flex-direction: column;
        }
      }
    }
  }
}
