<section class="below-header-container">
  <div class="header-container">
    <!-- TODO: Tint div image -->
    <div class="header-text">
      <span class="text-big">How can we help you?</span>
    </div>
    <div class="searchbar-container">
      <input
        type="text"
        name="Search"
        id=""
        placeholder="Type keywords to find answers"
      />
      <button>
        <i class="fas fa-search    "></i>
        <span class="search-label">SEARCH</span>
      </button>
    </div>
  </div>
</section>
