<div class="list-container">
    <div class="header">
        <h4>Most common questions</h4>
        <h3>Frequently asked questions</h3>
    </div>

  <mat-accordion multi="false">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><strong>How does MCflow work?</strong></mat-panel-title> 
      </mat-expansion-panel-header>
      <p>This site lets you earn MCF points by completing simple tasks with your PC or mobile phone.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><strong>Who can be a member of MCFlow?</strong></mat-panel-title>
      </mat-expansion-panel-header>
      <p>Generally, anyone can be a member of MCFlow as all you need is an internet enabled device to enable you to take tasks on our platform.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><strong>How to register?</strong></mat-panel-title>
      </mat-expansion-panel-header>
      <p>Open the <strong>registration form</strong> and fill in the blank fields, enter and create a password.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><strong>What is the registration fee?</strong></mat-panel-title>
      </mat-expansion-panel-header>
      <p>It depends on the package you are opting in for. On MCflow, there are four (4) unique registration pricing packages.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><strong>How long does it take before i recieve my withdrawal?</strong></mat-panel-title>
      </mat-expansion-panel-header>
      <p>Withdrawals are sent within an hour after requesting them. <br> We will be unable to refund payments sent to the wrong bank details</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
