@import "~src/mixins";
.container {
  padding-top: 20px;
  padding-bottom: 40px;
  &__header {
    text-align: center;
    &__head {
      color: green;
    }
    &__text {
      font-size: 20px;
      font-weight: 500;
    }
    &__sub {
      background-color: green;

      margin-bottom: 40px;
      height: 35px;
      text-decoration: none;
      color: white;
      padding-top: 8px;
      font-size: 14px;
    }
  }

  &__packages {
    display: flex;
    justify-content: space-around;
    @media only screen and (max-width: 887px) {
      flex-direction: column;
    }
    mat-card {
      height: 400px;
      width: 200px;
      text-align: center;
      @media only screen and (max-width: 887px) {
        margin-bottom: 35px;
      }
      //   margin-left: 81px;
      //   @media only screen and (max-width: 1120px) {
      //     margin-left: 49px;
      //   }
      //   @media only screen and (max-width: 1043px) {
      //     margin-left: 34px;
      //   }
      //   @media only screen and (max-width: 978px) {
      //     margin-left: 21px;
      //   }
      //   @media only screen and (max-width: 920px) {
      //     margin-left: 14px;
      //   }
      //   @media only screen and (max-width: 889px) {
      //     margin-left: 9px;
      //   }
    }
    &__package {
      display: flex;
      justify-content: center;
      &__white-header {
        color: black;
        background-color: rgb(238, 232, 232);
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 14px;
        padding-bottom: 1px;
        font-size: 12px;
        font-weight: 500;
      }
      &__black-header {
        color: white;
        background-color: black;
        padding-left: 19px;
        padding-right: 19px;
        padding-top: 14px;
        padding-bottom: 1px;
        font-size: 12px;
        font-weight: 500;
      }
      &__bronze {
        padding-top: 8px;
        padding-bottom: 16px;
        &__mat-bronze {
          padding-top: 11px;

          padding-right: 67px;
          &__img {
            width: 65px;
            height: 65px;
          }
        }
      }
      &__silver {
        padding-top: 13px;
        padding-bottom: 18px;
        &__mat-silver {
          padding-top: 9px;
          //   padding-bottom: 25px;
          //   padding-left: 25px;
          padding-right: 91px;
          &__img {
            width: 90px;
            height: 60px;
          }
        }
      }
      &__gold {
        padding-top: 10px;
        padding-bottom: 17px;
        &__mat-gold {
          padding-top: 9px;
          //   padding-bottom: 25px;
          //   padding-left: 25px;
          padding-right: 104px;
          &__img {
            width: 100px;
            height: 60px;
          }
        }
      }
      &__pioneer {
        padding-top: 3px;
        padding-bottom: 17px;

        &__mat-pioneer {
          padding-top: 17px;
          //   padding-bottom: 25px;
          //   padding-left: 25px;
          padding-right: 112px;
          &__img {
            width: 110px;
            height: 60px;
          }
        }
      }
      &__two-money {
        font-size: 23px;
        font-weight: 700;
        padding-bottom: 10px;
      }
      &__mcf {
        color: grey;
      }
      &__divider {
        hr {
          background-color: grey;
          height: 0.01px;
          width: 100%;
          border-color: grey;
        }
      }
      &__one-money {
        color: grey;
      }
      &__minimum {
        padding-bottom: 15px;
        color: grey;
      }
      &__white-button {
        button {
          background-color: white;
          color: black;
        }
      }
      &__black-button {
        button {
          background-color: black;
          color: white;
        }
      }
    }
  }
}

strong {
  color: black;
}
