<h2>This person submitted a contact us form with the name - <strong style="color: green">{{name}}</strong></h2>
<p>Phone Number is <strong style="color: green">{{phoneNumber}}</strong> and email is <strong style="color: green">{{email}}</strong></p>
<p>The message is down below</p>
<p><strong style="color: green">{{message}}</strong></p>