.payout-container {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  .mat-card-container {
    width: 50%;
    .title-container {
      display: flex;
      justify-content: center;
      margin-top: 24px;

      img {
        width: 200px;
      }
    }

    form {
      max-width: 400px;
      margin: auto;

      mat-card {
        box-shadow: none;
        border: 1px solid #e1e1e1;
        padding: 24px;
        margin-top: 20px;
        margin-bottom: 40px;

        mat-form-field {
          width: 100%;
        }

        .terms-and-conditions {
          font-size: 12px;
          text-align: center;
          margin-top: 16px;

          p {
            font-weight: 500;
            margin: 0;
          }
        }

        button {
          margin-top: 16px;
          height: 48px;
          width: 100%;
          color: white;
          background-color: green;
          border: 1px solid green;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
