.container {
  display: flex;
  justify-content: center;
  &__logo {
    list-style: none;
    display: flex;
    justify-content: center;
    &__link {
      background: url(../../../../assets/images/logo-small.png);
      display: block;
      background-position: center;
      width: 100px;
      height: 47px;
      background-repeat: no-repeat;
    }
  }
}
mat-toolbar {
  display: flex;
  justify-content: center;
  background-color: rgb(211, 226, 211);
  text-align: center;
}
