// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "./mixins";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mcflow-primary: mat.define-palette(mat.$green-palette);
$mcflow-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mcflow-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mcflow-theme: mat.define-dark-theme(
  (
    color: (
      primary: $mcflow-primary,
      accent: $mcflow-accent,
      warn: $mcflow-warn,
    ),
  )
);

$main: #0e1e25;
$sub: #020b0d;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mcflow-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  background-color: #0e1e25;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 100%;
  // #0e1e25
  // border: 1px solid red;
}

*::selection {
  color: rgb(106, 209, 106);
  background-color: rgb(103, 146, 103);
}

a.active {
  a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    background-color: green;
    color: white;
  }
}

.green-snackbar {
  background-color: rgb(68, 122, 68);
  color: white;
}

.green-snackbar button {
  background-color: green;
  color: white !important;
  border: none;
  margin-left: 30px;
}

mat-snackbar {
  width: auto;
}

.red-snackbar {
  background-color: rgb(102, 53, 53);
  color: white;
}

.red-snackbar button {
  background-color: red;
  color: white !important;
  border: none;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// @mixin respond($breakpoint) {
//   @if $breakpoint==small-phone {
//     @media only screen and (max-width: 300px) {
//       @content;
//     }

//     //? 600px
//   }

//   @if $breakpoint==med-phone {
//     @media only screen and (max-width: 450px) {
//       @content;
//     }

//     //? 600px
//   }

//   @if $breakpoint==phone {
//     @media only screen and (max-width: 600px) {
//       @content;
//     }

//     //? 600px
//   }

//   @if $breakpoint==tab-port {
//     @media only screen and (max-width: 900px) {
//       @content;
//     }

//     //? 900px
//   }

//   @if $breakpoint==tab-land {
//     @media only screen and (max-width: 1200px) {
//       @content;
//     }

//     //? 1200px
//   }

//   @if $breakpoint==big-desktop {
//     @media only screen and (min-width: 1800px) {
//       @content;
//     }

//     //? 1800px
//   }
// }

.is-active {
  background-color: green;
  color: white;
}
