<div class="container">
  <mat-card>
    <div class="container__top">
      <div class="container__top__image">
        <input
          #fileUpload
          (change)="onFileSelect($event)"
          style="display: none"
          type="file"
        />
        <mat-icon (click)="fileUpload.click()" style="cursor: pointer">
          <img *ngIf="userFullImagePath" [src]="userFullImagePath" alt="" />
        </mat-icon>
      </div>
      <div class="container__top__contents">
        <mat-card-title>{{ fullName }}</mat-card-title>
        <mat-card-content>@{{ userName }}</mat-card-content>
        <mat-card-content>{{ userPackage }}</mat-card-content>
        <button mat-stroked-button (click)="openEditProfile()">
          Edit Profile
        </button>
        <mat-card-content
          (click)="onSignOut()"
          style="cursor: pointer; margin-top: 10px"
          >Not <strong>{{ userName }}</strong
          >? <strong style="color: #a5eba5">Sign out</strong></mat-card-content
        >
        <button mat-stroked-button (click)="openDialog()">
          List of vendors
        </button>
      </div>
    </div>
    <div class="container__balances">
      <h2>MCF Points:</h2>
      <p>{{ points }} Mcf points</p>
      <h2>Referral Balance:</h2>
      <p>₦{{ referralBalance }}.00</p>
    </div>
  </mat-card>
</div>
