<div class="dashboard-container">
  <mat-card>
    <div class="image-column">
      <input #fileUpload (change)="onFileSelect($event)" style="display: none;" type="file">
      <mat-icon (click)="fileUpload.click()"
        style="cursor: pointer;">
        <img
          *ngIf="userFullImagePath"
          [src]="userFullImagePath"
          alt=""

        />
      </mat-icon>
      <div class="balances">
        <h2>MCF Points balance:</h2>
        <p>{{ points }}  Mcf points</p>
        <h2>Referral Balance:</h2>
        <p>₦{{ referralBalance }}.00</p>
      </div>
    </div>
    <div class="contents">
      <mat-card-title>{{ fullName }}</mat-card-title>
      <mat-card-content>@{{ userName }}</mat-card-content>
      <mat-card-content>{{ userPackage }}</mat-card-content>
      <button mat-stroked-button (click)="openEditProfile()">
        Edit Profile
      </button>
      <mat-card-content (click)="onSignOut()" style="cursor: pointer;"
        >Not -{{ userName }}-? Sign out</mat-card-content
      >
      <button mat-stroked-button (click)="openDialog()">
        List of vendors
      </button>
    </div>
  </mat-card>
</div>
