<div class="container">
  <h3>ACCEPTANCE OF THE TERMS & CONDITIONS OF USE</h3>
  <p>
    The following terms and conditions, together with any documents they
    expressly incorporate by reference (collectively, the “Terms of Use”), are
    entered into by and between you (the “End User,” “Licensee,” or “you”) and
    MCFlow, (the “Organization,” “MCFlow,” “we”, “us” and “our”). These Terms of
    Use govern your access to and use of the website located at
    https://mcflow.com.ng/ and any of its subdomains, mobile applications, and
    any other content, functionality, products or services provided by us
    (collectively the “Services”), whether as a guest or a registered user.
    Please read the Terms of Use carefully before you start to use the Services.
    By using the Services or by clicking to accept or agree to the Terms of Use
    when this option is made available to you, you accept and agree to be bound
    and abide by these Terms of Use and our Privacy Policy incorporated herein
    by reference. If you do not want to agree to these Terms of Use or the
    privacy policy, you must not access or use the Services
  </p>

  <h3>1. General Representations and Warranties</h3>
  <ul>
    <p>You represent and warrant that:</p>
    <li>You have read, understood and accepted these Terms of Use.</li>
    <li>You will not circumvent the policies outlined in this Terms of Use.</li>
    <li>
      That the information you supply to us is true, correct, accurate and
      complete.
    </li>
    <li>You are 18 years of age or older.</li>
    <li>
      You have not previously been suspended or removed from using our Services.
    </li>
    <li>You have full power and authority to agree to this Terms of Use and</li>
    <li>
      If you are accepting these Terms of Use and using the Services on behalf
      of a company, organization, government, or other legal entity, you are
      authorized to do so and have the authority to bind such entity to these
      Terms of Use.
    </li>
    <li>
      Regarding Withdraws, you represent and warrant that you own and are in
      control of the wallet that you are withdrawing funds to. See Section 10,
      Fees and Payments, Withdraws clause a.2.i.
    </li>
    <li>
      If you do not meet all of these requirements, you must not access or use
      the Services.
    </li>
  </ul>

  <h3>2. MCFlow Content</h3>
  <p>
    he MCFlow website, mobile applications, and Services are the property of
    MCFlow (“MCFlow Content”) and are protected by all applicable copyright,
    trademark and other laws of Nigeria and foreign countries. You acknowledge
    and agree that the MCFlow Content, including all associated intellectual
    property rights, are the exclusive property of CFlow. Any reproduction,
    modification, copying, or distribution of the MCFlow Content without
    MCFlow’s express written permission is strictly prohibited. You will not
    remove, alter or obscure any copyright, trademark, service mark or other
    proprietary rights notices incorporated in or accompanying MCflow Content.
    Subject to your compliance with the terms and conditions herein, MCFlow may
    grant you a limited, non-exclusive, non-transferable license, to access and
    use our Services. You have no right to sublicense the license rights granted
    in this section. You will not use, copy, adapt, modify, prepare derivative
    works based upon, distribute, license, sell, transfer, publicly display,
    publicly perform, transmit, broadcast or otherwise exploit the MCFlow
    Content. No licenses or rights are granted to you by implication or
    otherwise under any intellectual property rights owned or controlled by
    MCFlow or its licensors, except for the licenses and rights expressly
    granted herein.
  </p>

  <h3>3. Accounts</h3>
  <p>
    When you create an account with MCFlow, you represent and warrant that you
    are above the age of 18, and that the information you provide us is
    accurate, complete, and current at all times. Inaccurate, incomplete, or
    obsolete information may result in the immediate termination of your account
    on the Service.<br /><br />

    We reserve the right to disable any account, user name or other identifier,
    whether chosen by you or provided by us, at any time in our sole discretion
    for any or no reason, including if, in our opinion, you have violated any
    provision of these Terms of Use.
  </p>

  <h3>4. User Conduct</h3>
  <p>
    You will not engage in any activity that interferes with or disrupts the
    MCFlow Services (or the servers and networks which are connected to our
    Services) or use any service to manipulate your computer or other device to
    gain any advantage on any of our programs and Services. Unless you have been
    specifically permitted to do so in a separate written agreement with us, you
    agree that you will not reproduce, duplicate, copy, sell, trade or resell
    our Services for any purpose. You further agree that your use of the
    Services shall not be fraudulent or deceptive, or unlawful, as determined in
    our sole and absolute discretion. You agree to comply with the instructions
    set out in any robots.txt file present on the Services. Without limiting the
    foregoing, you agree not to:<br /><br />

    Use scripts or any form of automation or software to access or utilize any
    of the features of our website<br /><br />

    Use a proxy, VPN, Tor, or any other technology to bypass any country filters
    we have implemented to prevent certain users from accessing our website.<br /><br />

    Access (or attempt to access) any of our Services by any means other than
    through the authorized interface that we provide at https://mflow.com.ng/<br /><br />

    Post spam links or post your referral link(s) on our Services, or other than
    our official website.<br /><br />

    Develop, distribute, make use of, or publicly inform other members of:
    “auto” software programs, “macro” software programs, web crawlers or other
    script or “cheat utility” or any similar software programs or
    applications.<br /><br />

    Share your Account with any person other than the registered Account
    holder.<br /><br />

    Maintain or use any false identity or multiple identities, or otherwise fail
    to participate in our Services using your real identity and accurate
    contact, demographic and other information.<br /><br />

    Submit any personal information (name, email, zip code, etc.), payment
    information (credit card number and connected information), or other
    information which we determine in our sole discretion to have been false,
    inaccurate or otherwise invalid in connection with any use of our
    Services;<br /><br />

    Post, upload, transmit or otherwise disseminate or share information that,
    in our sole discretion, is obscene, indecent, vulgar, pornographic, sexual,
    hateful or otherwise objectionable or inappropriate;<br /><br />

    Upload or transmit, or attempt to upload or transmit, files that contain
    viruses, malware, Trojan horses, worms, time bombs, cancel bots, corrupted
    files or data, or any other similar software or programs that may damage the
    operation of the Service, other users’ computers, or access to or
    functionality of the Services.<br /><br />

    Violate the contractual, personal, intellectual property or other rights of
    any party, including using, uploading, transmitting, distributing, or
    otherwise making available any information in any manner that infringes any
    intellectual property right, or other right of any party (including rights
    of privacy or publicity).<br /><br />

    Attempt to obtain account information, or other private information from
    other users.<br /><br />

    Improperly use support channels to make false or frivolous reports to MCFlow
    or to communicate with our customer support representatives in a
    disrespectful, belligerent or inappropriate manner.<br /><br />

    Abuse any of our Services in a manner that does not reflect normal or
    appropriate human usage.<br /><br />

    Exploit, distribute or publicly inform other members of any error, miscue or
    bug that gives an unintended advantage.<br /><br />

    Violate or encourage others to violate any applicable laws or regulations,
    or promote or encourage any illegal or unauthorized activity including, but
    not limited to, hacking, cracking or distribution of counterfeit software,
    or cheats or hacks for our Services. If you find an Error, we kindly request
    that you report it to our team by sending us a mail at
    contact@mcflowcom.ng.<br /><br />

    Doing any of the above can result in loss of earnings and/or termination of
    your account.
  </p>

  <h3>5. Maintenance Fee, Abandoned Accounts and Unclaimed Funds</h3>
  <p>
    Maintenance Fees for Inactive Accounts<br /><br />

    Accounts that are inactive for three (3) consecutive months on MCFlow will
    be flagged by our system and are then subject to maintenance and management
    fees.<br /><br />

    “Maintenance Fee Accounts” are accounts that have not done any task within a
    six month time period from the last date you interacted with the website or
    you have not logged into our website within six (6) months from your last
    login (when that feature becomes available). Maintenance Fee Accounts will
    be charged a maintenance fee of 10% or N500, whichever is greater, per day
    of the total balance on their account. These Maintenance Fees are earned
    upon receipt and are not refundable. Abandoned Accounts and Remaining
    Funds<br /><br />

    Accounts will be considered abandoned after a period of one (6) months of
    inactivity. “Abandoned Accounts” are accounts that have not done a task
    within a six (6) months time period from the last date you interacted with
    the website or you have not logged into our website within one (1) year from
    your last login (when that feature becomes available). At that time we will
    attempt to contact you three (3) times through your registered account you
    provided. If we are not able to contact you, or if there continues to be no
    activity on your account within thirty (30) days of your account being
    designated as abandoned, your account will be terminated and we will charge
    you a non-refundable termination fee equal to the balance in your account.
    After termination, MCFlow will have no further obligation to retain any
    information or data related to your account.
  </p>

  <h3>6. Availability, Errors and Inaccuracies</h3>
  <p>
    We are continuously engaged in developing and updating the Service. We may
    experience delays in updating information on the Service and in our
    advertising on other web sites. The information found on the Service may
    contain errors or inaccuracies and may not be complete or current. Products
    or services may not be priced accurately, described inaccurately, or
    unavailable on the Service and we cannot guarantee the accuracy or
    completeness of any information found on the Service.<br /><br />

    We therefore reserve the right to change or update information and to
    correct errors, inaccuracies, or omissions at any time, without prior notice
    and without any obligation to honor offers posted in error.
  </p>
</div>
