<div class="container">
  <div class="container__top">
    <div class="container__top__content">
      <div class="container__top__content__icon">
        <i class="fa fa-instagram"></i>
      </div>
      <h3>CONNECT WITH US ON INSTAGRAM</h3>
      <p>mcflow.xyz</p>
    </div>

    <div class="container__top__content">
      <div class="container__top__content__icon">
        <i class="fas fa-envelope-open-text"></i>
      </div>
      <h3>E-MAIL US</h3>
      <p>info@mcflow.xyz</p>
    </div>

    <div class="container__top__content">
      <div class="container__top__content__icon">
        <i class="fab fa-whatsapp"></i>
      </div>
      <h3>TALK TO US ON WHATSAPP</h3>
      <a href="https://wa.me/+2348108327491">Tap link to message.</a>
    </div>
  </div>
  <div class="container__info">
    <div class="container__info__icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <h3>CUSTOMER SERVICES</h3>
    <p>Please scroll down and fill the form below</p>
  </div>
</div>
