@import "~src/mixins";
.container {
  margin: 30px 0;
  text-align: center;
  &__top {
    display: flex;
    justify-content: space-around;
    text-align: center;
    @include respond(phone) {
      flex-direction: column;
    }
    margin-bottom: 20px;
    &__content {
      h3 {
        font-size: 17px;
        font-weight: 600;
      }
      p {
        padding-bottom: 25px;
      }
      a {
        padding-bottom: 25px;
        color: green;
        text-decoration: none;
      }
      &__icon {
        padding-bottom: 22px;
        i {
          font-size: 33px;
        }
      }
    }
  }

  &__info {
    h3 {
      font-size: 17px;
      font-weight: 600;
    }
    p {
      padding-bottom: 20px;
    }
    &__icon {
      padding-bottom: 22px;
    }
  }
}
