<div class="overview-container">
  <section class="top-row">
    <div class="content">
      <div class="icon"><i class="fa fa-instagram" style="font-size: 32px;"></i></div>
      <h3>CONNECT WITH US ON INSTAGRAM</h3>
      <p>mcflow.ceo1</p>
    </div>

    <div class="content">
      <div class="icon"><i class="fas fa-envelope-open-text" style="font-size: 32px;"></i></div>
      <h3>E-MAIL US</h3>
      <p>info@mcflow.com.ng</p>
    </div>
    <div class="content">
      <div class="icon">
        <i class="fas fa-info-circle" style="font-size: 32px;"></i>
      </div>
      <h3>CUSTOMER SERVICES</h3>
      <p>Please scroll down and fill the form below</p>
    </div>
  </section>
</div>
