.overview-container {
  padding: 130px 0;
  .top-row {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
  }
}

h3 {
  font-size: 15px;
  font-weight: 550;
}

.content {
  width: 487px;
}

p {
  padding-bottom: 25px;
}

.icon {
  padding-bottom: 22px;
}



