<div class="container">
  <div class="container__top">
    <div class="container__top__content">
      <div class="container__top__content__icon"><i class="fa fa-instagram"></i></div>
      <h3>CONNECT WITH US ON INSTAGRAM</h3>
      <p>mcflow.ceo1</p>
    </div>

    <div class="container__top__content">
      <div class="container__top__content__icon"><i class="fas fa-envelope-open-text"></i></div>
      <h3>E-MAIL US</h3>
      <p>info@mcflow.com.ng</p>
    </div>
  </div>
  <div class="container__info">
    <div class="container__info__icon">
      <i class="fas fa-info-circle"></i>
    </div>
    <h3>CUSTOMER SERVICES</h3>
    <p>Please scroll down and fill the form below</p>
  </div>
</div>
