.post-container {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__card {
    width: 70%;
    // height: 100px;
  }
}

img {
  height: 400px;
}
