.all-posts-container {
  margin-left: 15%;
  margin-right: 15%;
  .empty_posts {
    margin: auto auto;
    padding: 200px 0;
  }
  &__post-container {
    ul {
      li {
        list-style: none;
      }
    }

    &__card {
      margin-bottom: 20px;
    }
  }
}

.share-button {
  color: green;
  background-color: white;

  &:hover {
    color: white;
    background-color: green;
  }
}

.delete-button {
  color: red;
  background-color: white;

  &:hover {
    color: white;
    background-color: red;
  }
}

.upload-button {
  color: blue;
  background-color: white;

  &:hover {
    color: white;
    background-color: blue;
  }
}
.change-button {
  color: rgb(255, 136, 0);
  background-color: white;

  &:hover {
    color: white;
    background-color: rgb(255, 136, 0);
  }
}

img {
  height: 500px;
}

.no-posts {
  padding: 300px 0;
  // margin: 0 auto;
}
