<div class="core-values-container">
  <div class="core-values-content">
    <div class="description">
      <h3>OUR VALUES AND CODE OF ETHICS</h3>
      <p>
        We care about our MCFlowers, which is why we established a Code of
        Ethics built on the principles of fairness, inclusion and trust. Our
        buisness is based on these transparent values:
      </p>
    </div>
    <div class="core-values-list">
      <div class="values-list-container">
        <div class="core-values-numbers"><p>1</p></div>
        <div class="core-values-text-content">
          <h4>Opportunity</h4>
          <p>
            McFlow is open to everyone who wants to generate additional income
            in their spare time.
          </p>
        </div>
      </div>
      <div class="values-list-container">
        <div class="core-values-numbers"><p>2</p></div>
        <div class="core-values-text-content">
          <h4>Communication & support</h4>
          <p>
            As a MCFlower, you get a direct line of contact with our help team
            to support you every step of the day.
          </p>
        </div>
      </div>
      <div class="values-list-container">
        <div class="core-values-numbers"><p>3</p></div>
        <div class="core-values-text-content">
          <h4>Privacy & confidentiality</h4>
          <p>
            we make every effort to respect your privacy and ensure that your
            data is safe.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="image-container">
      <img src="../../../../assets/images/landmarks-modern-city-1.jpg" alt="">
  </div>
</div>
