.core-values-container {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: cornflowerblue;
  .core-values-content {
    padding-left: 275px;
    // width: 450px;
    .description {
      width: 450px;
      p {
        font-weight: 500;
      }
    }
    .core-values-list {
      padding-top: 20px;
      .values-list-container {
        display: flex;
        padding-bottom: 10px;
        .core-values-numbers {
          height: 35px;
          padding-right: 14px;
          padding-left: 14px;
          background-color: green;
          border-radius: 9999px;
          margin-right: 25px;
          p {
            line-height: 2.5;
            color: white;
          }
        }
      }
    }
  }
  .image-container {
      display: flex;
      justify-content: center;
      img {
          width: 1200px;
          height: 650px;
      }
  }
}

h3 {
  color: green;
  font-weight: 600;
}

h4 {
  font-weight: 500;
}
