<div class="container">
  <div class="container__content">
    <div class="container__content__description">
      <h3 class="container__content__description__header">
        OUR VALUES AND CODE OF ETHICS
      </h3>
      <p class="container__content__description__content">
        We care about our MCFlowers, which is why we established a Code of
        Ethics built on the principles of fairness, inclusion and trust. Our
        buisness is based on these transparent values:
      </p>
    </div>
    <div class="container__content__values">
      <div class="container__content__values__item">
        <div class="container__content__values__item__number"><span>1.</span></div>
        <div class="container__content__values__item__content">
          <h4 class="container__content__values__item__content__header">
            Opportunity
          </h4>
          <p class="container__content__values__item__content__text">
            McFlow is open to everyone who wants to generate additional income
            in their spare time.
          </p>
        </div>
      </div>
      <div class="container__content__values__item">
        <div class="container__content__values__item__number"><span>2.</span></div>
        <div class="container__content__values__item__content">
          <h4 class="container__content__values__item__content__header">
            Communication & support
          </h4>
          <p class="container__content__values__item__content__text">
            As a MCFlower, you get a direct line of contact with our help team
            to support you every step of the day.
          </p>
        </div>
      </div>
      <div class="container__content__values__item">
        <div class="container__content__values__item__number"><span>3.</span></div>
        <div class="container__content__values__item__content">
          <h4 class="container__content__values__item__content__header">
            Privacy & confidentiality
          </h4>
          <p class="container__content__values__item__content__text">
            we make every effort to respect your privacy and ensure that your
            data is safe.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container__image">
    <img src="../../../../assets/images/landmarks-modern-city-1.jpg" alt="" />
  </div>
</div>
