<div class="container">
  <div class="container__heading">
    <h4 class="container__heading__header">HOW IT WORKS</h4>
    <h3 class="container__heading__text">In just few steps, you start earning</h3>
  </div>

  <div class="container__cards">
    <div class="container__cards__card">
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/sign-up.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-content
          >Take a few minutes to sign up, it's totally free!</mat-card-content
        >
      </mat-card>
    </div>
    <div class="container__cards__card">
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/select-package.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Select Package</mat-card-title>
        <mat-card-content
          >After signing up, you will need to select a package that best fits
          you.</mat-card-content
        >
      </mat-card>
    </div>
    <div class="container__cards__card">
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/simple-tasks.png" alt="" />
          </mat-icon>
        </div>
        <mat-card-title>Perform tasks</mat-card-title>
        <mat-card-content
          >Pick the task you want. Carefully read the instructions and complete
          the task</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
