<div class="how-it-works-container">
    <div class="heading">
        <h4>HOW IT WORKS</h4>
        <h3>In just few steps, you start earning</h3>
    </div>

    <div class="toprow-cards-container">
    <div class="toprow-cards">
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/sign-up.png" alt="" style="width: 40px; height: 40px; padding-bottom: 10px;">
          </mat-icon>
        </div>
        <mat-card-title>Sign up</mat-card-title>
        <mat-card-content
          >Take a few minutes to sign up, it's totally free!</mat-card-content
        >
      </mat-card>
    </div>
    <div class="toprow-cards">
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/select-package.png" alt="" style="width: 40px; height: 40px; padding-bottom: 10px;">
          </mat-icon>
        </div>
        <mat-card-title>Select Package</mat-card-title>
        <mat-card-content
          >After signing up, you will need to select a package that best fits you.</mat-card-content
        >
      </mat-card>
    </div>
  </div>
  <div class="bottom-card-container">
    <div>
      <mat-card tabindex="1">
        <div>
          <mat-icon>
            <img src="../../../../assets/images/simple-tasks.png" alt="" style="width: 40px; height: 40px; padding-bottom: 10px;">
          </mat-icon>
        </div>
        <mat-card-title>Perform tasks</mat-card-title>
        <mat-card-content
          >Pick the task you want. Carefully read the instructions and complete the task</mat-card-content>
      </mat-card>
    </div>
  </div>
</div>