<!-- <app-header></app-header> -->
<div class="container">
  <mat-toolbar>
    <ul class="container__header">
      <li class="container__header__item">
        <a
          [routerLink]="['/', 'landing']"
          class="container__header__item__logo"
        ></a>
      </li>
      <li class="container__header__item">
        <button
          mat-raised-button
          class="container__header__item__button"
          (click)="snav.toggle()"
        >
          <i class="fas fa-list"></i>
        </button>
      </li>
    </ul>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="over" position="end">
      <div class="container__nav">
        <h1
          container__nav__logo
          style="font-family: 'Times New Roman', Times, serif; font-size: 35px"
        >
          MCFLOW
        </h1>
      </div>
      <hr class="container__divider" />
      <div class="container__items">
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'landing']"
        >
          Home
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'landing', 'faq']"
        >
          Faq's
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'landing', 'contacts']"
        >
          Contact us
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'landing', 'privacy-policy']"
        >
          Privacy Policy
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'landing', 'terms-and-conditions']"
        >
          Terms of use
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          (click)="openDialog()"
        >
          Coupon Vendors
        </button>
        <button
          class="container__items__item"
          mat-flat-button
          [routerLink]="['/', 'auth']"
        >
          Login
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
