<app-header></app-header>
<div class="sidenav-container">
<mat-toolbar>
    <div class="name-container">
      <!-- TODO: Header should be dynamic -->
      <!-- <h1 class="sidenav-name">{{ currentRoute }}</h1> -->
    </div>
    <div class="button-container">
      <button (click)="snav.toggle()">
        hey
        <i class="fas fa-list"></i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="over" position="end">
      <div class="sidenav-header">
        <h1>MCFLOW</h1>
      </div>
      <hr>
      <a [routerLink]="['/', 'landing']">Home</a>
      <a [routerLink]="['/', 'landing', 'faq']">Faq's</a>
      <a [routerLink]="['/', 'landing', 'contacts']">Contact us</a>
      <a [routerLink]="['/', 'auth']">Login</a>
    </mat-sidenav>
    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<router-outlet class="router"></router-outlet>
<app-footer></app-footer>
