.sidenav-container {
  mat-toolbar {
    display: flex;
    justify-content: space-between;
    .name-container {
      .sidenav-name {
        font-size: 30px;
        @media only screen and (max-width: 490px) {
          font-size: 23px;
        }
        @media only screen and (max-width: 400px) {
          font-size: 18px;
        }
      }
    }
    .button-container {
      display: flex;
      justify-content: flex-end;
      button {
        cursor: pointer;
        width: auto;
        @media only screen and (max-width: 350px) {
          width: 20px;
        }
      }
    }
  }

  mat-sidenav-container {
    mat-sidenav {
      width: 200px;
      .sidenav-header {
        text-align: center;
        h1 {
          padding-top: 10px;
          font-family: "Times New Roman", Times, serif;
        }
      }

      .nav-items {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        button {
          width: 100%;
          padding: 10px 0;
          text-decoration: none;
          color: black;
          &:hover {
            background-color: green;
            color: white;
          }
        }
        p {
          display: block;
          padding: 15px 0;
          text-decoration: none;
          color: black;
          &:hover {
            background-color: green;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}
