<app-header></app-header>
<div class="sidenav-container">
  <mat-toolbar>
    <div class="name-container">
      <!-- TODO: Header should be dynamic -->
      <h1 class="sidenav-name">{{ currentRoute }}</h1>
    </div>
    <div class="button-container">
      <button
        *ngIf="role === 'admin'"
        mat-raised-button
        (click)="openCreatePost()"
      >
        Create post
      </button>
      <button style="margin-left: 10px" mat-flat-button (click)="snav.toggle()">
        <i class="fas fa-list"></i>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav mode="over" position="end">
      <div class="sidenav-header">
        <h1 class="logo">MCFLOW</h1>
      </div>
      <hr style="margin: 10px 0" />
      <div class="nav-items">
        <!-- TODO: Do something about the router link active -->
        <button
          [routerLink]="['/', 'home']"
          routerLinkActive="active"
          (click)="dashboard()"
          mat-flat-button
        >
          Dashboard
        </button>
        <button
          [routerLink]="['/', 'home', 'payout']"
          [routerLinkActive]="['is-active']"
          (click)="cashout()"
          mat-flat-button
        >
          Cashout
        </button>
        <button
          [routerLink]="['/', 'home', 'sponsored']"
          [routerLinkActive]="['is-active']"
          (click)="posts()"
          mat-flat-button
        >
          Sponsored Posts
        </button>
        <button
          *ngIf="role === 'admin'"
          routerLinkActive="active"
          (click)="openConfirmWithdrawal()"
          mat-flat-button
        >
          Confirm Withdrawal
        </button>
        <button routerLinkActive="active" (click)="onSignOut()" mat-flat-button>
          Log out
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<app-footer></app-footer>
