<h1 mat-dialog-title>Create a post</h1>
<h3>Quick brief, After you create a post and it shows on the feed below tap the upload image button to add the post image.</h3>
<div class="content-container" mat-dialog-content>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <p>
        <mat-form-field appearance="outline" class="mat-form form-textarea">
          <mat-label>Post body</mat-label>
          <textarea
            matNativeControl
            required="true"
            name="body"
            class="textarea"
            #bodyInput="ngModel"
            ngModel
            type="text"
            cols="30"
            rows="10"
            placeholder="Your Post"
          ></textarea>
          <mat-hint color="warn" *ngIf="!bodyInput.valid && bodyInput.touched"
            >Please enter post body</mat-hint
          >
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" class="mat-form form-input">
          <mat-label>Link</mat-label>
          <input
            matNativeControl
            required="true"
            name="link"
            #linkInput="ngModel"
            ngModel
            type="text"
            placeholder="Link you want people to share"
          />
          <mat-hint color="warn" *ngIf="!linkInput.valid && linkInput.touched"
            >Please enter the sharing link.</mat-hint
          >
        </mat-form-field>
      </p>

      <button [disabled]="!form.valid" mat-raised-button type="submit">
        Submit
      </button>
    </mat-card>
  </form>
</div>
